@model WebApplication4.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <table border="2">
            <tr>
                <td>@Model.ID</td>
                <td>@Model.Name</td>
            </tr>
        </table>
    </div>
</body>
</html>
